@model BugTracker.Models.AssignProjectUser

@{
    ViewBag.Title = "BuggyTracker - Project";
}


<h2>Assign Users</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Roles</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <b>Assign Users to Project</b>
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                @Html.ListBoxFor(r => r.SelectedUser, Model.Users, new { style = "width: 50%" })

            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
</div>