@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<hr />
<div>
    <p>
        Please check your email to reset your password.
    </p>
    @Html.ActionLink("Return to Home", "Index", "Home", null, new { @class = "btn btn-primary" })
</div>
	
